files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIIEEzCCAvsCFANMm/ZKWnPQh6047aD2MavfI4o2MA0GCSqGSIb3DQEBCwUAMIHF
      MQswCQYDVQQGEwJDQTEQMA4GA1UECAwHT250YXJpbzEQMA4GA1UEBwwHVG9yb250
      bzESMBAGA1UECgwJQ2xvdWRzaG9wMRIwEAYDVQQLDAlNYXJrZXRpbmcxQjBABgNV
      BAMMOXNob3BvbmF3cy1lbnYuZWJhLXhncWd1enNwLnVzLWVhc3QtMi5lbGFzdGlj
      YmVhbnN0YWxrLmNvbTEmMCQGCSqGSIb3DQEJARYXcGV0ZXJ6aGFvMjA5OUBnbWFp
      bC5jb20wHhcNMjEwNjI5MDMyMDExWhcNMjIwNjI5MDMyMDExWjCBxTELMAkGA1UE
      BhMCQ0ExEDAOBgNVBAgMB09udGFyaW8xEDAOBgNVBAcMB1Rvcm9udG8xEjAQBgNV
      BAoMCUNsb3Vkc2hvcDESMBAGA1UECwwJTWFya2V0aW5nMUIwQAYDVQQDDDlzaG9w
      b25hd3MtZW52LmViYS14Z3FndXpzcC51cy1lYXN0LTIuZWxhc3RpY2JlYW5zdGFs
      ay5jb20xJjAkBgkqhkiG9w0BCQEWF3BldGVyemhhbzIwOTlAZ21haWwuY29tMIIB
      IjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAz5jP1/2O3F0Iu9r9PjpdR3On
      5nZBVMmQKuYIgA291meddI3SZgOaxcIgVOiN+8KaduA5fb9bFhkZnjGR85gdwfPs
      Jr7npbEN6bt5VWzldTLABPXFTFO/IxV6D69KAwCd2CBEsK70cArI4r5jQnyU3b1m
      DeJqtYBOH0OzqVnDZNB440OA3mPyMoi8IL0AN190zhMyqG/m0sZh63H1YIbF2pfj
      vkXyyXYfkpl9gsoV0jqbGhqafjcWQ8nlwD+2SVhkqhg8blPDEYVQvSYQdsfYGi9t
      cY5RlSXCTRxMHXXs9J+OyC2jSuFirh01EH4fAICX7MJnvPSX+CVGnrJBxHg96QID
      AQABMA0GCSqGSIb3DQEBCwUAA4IBAQCGSH/+9skHTE1wAFiFWFnUd3PVaihS+Qby
      xgo4AQiro/yhjGL6O3VKT/MIbPgNKXcz0ZoECjXIQUqsPV1fyzLYqD5lNCDh70DR
      LvEvH0PnN7dtspBWhlyNCZO36vD3sS2KPz82beCcsi+42N5cBdYdRXDYeTRZVptI
      kExw4LGOUFwLVHOGqt54v8jehEq7qsxYd+Gxelz1Pt7qUdCXBsFnzJ9umjRcKJyD
      ZrS53NQV9uovagoNrf3QuFG+VIyad8X+We3fPgpha+am/PfVBy1pDd7BnJTN5syH
      tu6jE8doz6iiQEYNonUtGFKfz+W3VS3dRHmgT6sQpkRkO35k1RsC
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAz5jP1/2O3F0Iu9r9PjpdR3On5nZBVMmQKuYIgA291meddI3S
      ZgOaxcIgVOiN+8KaduA5fb9bFhkZnjGR85gdwfPsJr7npbEN6bt5VWzldTLABPXF
      TFO/IxV6D69KAwCd2CBEsK70cArI4r5jQnyU3b1mDeJqtYBOH0OzqVnDZNB440OA
      3mPyMoi8IL0AN190zhMyqG/m0sZh63H1YIbF2pfjvkXyyXYfkpl9gsoV0jqbGhqa
      fjcWQ8nlwD+2SVhkqhg8blPDEYVQvSYQdsfYGi9tcY5RlSXCTRxMHXXs9J+OyC2j
      SuFirh01EH4fAICX7MJnvPSX+CVGnrJBxHg96QIDAQABAoIBAQCNT6TzjurnQAEI
      9vl5mXsTfzvkWc0A7S/Qs8NHf5Mg1mlNBJkazgtV4F3nzmGP5ZkFoH4iBdb4BN/2
      WiHSolJnSyYN/ddrZ0lkODRQnQ7Yp1IkTjQeT8eFF0J+WMDVqF7J1rVLW9ySRBUY
      m6avhGRFSH6mpuAiapNDHu+2MJ8cCL0q91hsVlwwewJdW0vzNhTrigTV3QOrECdj
      38Vo+vyt1P89SoVQjeKGCyp18xlLNOuBleDUgUI1Foz9+S2NnEjIWrTdAIqwfdGX
      um/Niz7CvDwxLzJEwgj5iEY6MvwFsRYBI1+EAzxfLyjSDWxPSVCzM7yGJqJZZJX2
      gdTLB07xAoGBAP+b7vLEtDXg0YroMbxyKfDV8ZN5EElOPa/KbJoelWphy7+P9nct
      A6x1y/vo6bnLEvdAwcCz0lL2g6W6iOR1yNMvYQUz68ooJ/iJNXjEzDg0j3DKyQQT
      yY9KYYJVMbaC8/mEZSia/Dvd1m/FwzSMMXVK5US9oVdIVu1sx1JusSoFAoGBAM/q
      FSGJGzhoyfgyAoJG4DqvY/lQhRiaLMM04vyr4P46ZKWsk3I0jmPTWJfO8tMWpz4r
      5KNaYK86Av0dPDmjEktv9vUrE4g5fQJSu384fjJSDcgullGwXj/bHBGNCcmsNrhp
      afxFhaY9fQoiqxZE9/weRxImWJekWjXxYMdm1PWVAoGAfpvwedOxJ9baNCHbMOqj
      l6WBaXjX9leI+qAbtyNbAzy5vYNDo7hqT2xxw6+UxfCuzkYHMrpffbSZdOe2kuM8
      vE6FkhwruRC268aa890XAugV/NqVQy3B8vX24qXsX+jxjDBmIvzR3518cBTXIhon
      DWAxvCDp39/3Htd4y34ExzkCgYAV1G0NjVi3ToFONun+hbSLVNj5V1PyJlXm1Qm0
      H9PKvZTNtFXy2sPMhWc64TarpShAJdmmsRmPrFad/tDQ+Gc2VnYmfbRaTDbs5ITd
      MbBGVkkuKH4N66epqrbCvP03GIbSS/cdzqrernwPcV5nQyyKYx9xL2eD3HTATyyr
      IwffFQKBgGFumiCSR8VG24rG+pAj87hq1XODZ7YqLfffD5kGyNqk/S7rfQs3JV2j
      PEaDkGTD+LRX5EvJRokcZQg2NP5gt58kdeNqHRlNultQqgV4CkToSWBr9pxoMs95
      Wgxbz/1+E3QbR6HcvS9F6vb+L6wbidhjLJvvyK7oZPusNPD+9wmj
      -----END RSA PRIVATE KEY-----

container_commands:
  01restart_nginx:
    command: "service nginx restart"